extends layout

block content
  h1= title
  p Aneela Server 
  button(type='button' class='btn btn-primary' onclick="update()") Press Me
  div(id="target" class="container" style="color:yellow; background-color:blue ;") Display
  script. 
      var client_count=0 
      function update(){
        client_count++;
        document.getElementById("target").innerHTML=`Value now ${client_count}`
      }